<div class="leftcontainer">
  <h2><span class="badge"><a href="/admin/admincategory">Category</a></span></h2>
  <h2> <span class="badge"><a href="/admin/adminsub">Subcategory</a></span></h2>
  <h2><span class="badge"><a href="/admin/product">Product</a></span></h2>
</div>
<div class="rightcontainer">
  
   {{!-- <div class="form"> 
   <h4>Add Category</h4>
  <form action="/admin/admincategory" method="post" enctype="multipart/form-data">
    <label for="">Category</label>
    <input type="text" name="category" id="" /><br /><br />
    <label for="">Description</label>
    <input type="text" name="description" id="" /><br /><br />
    <input type="file" name="imag" id="" /><br /><br />
    <button type="submit">submit</button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
         <th colspan="2">Action</th>

      </tr>
    </thead> 

    
   {{#each catinfo}}
  <tr>

    <td>{{this.Category}}</td>
    <td>{{this.Description}}</td>
    <td><img src="/images/{{this.image}}" height="100px"></td>
    <td><a href="admin/{{this._id}}">Delete</a></td>
    <td><a href="admin/adminedit/{{this._id}}">Edit</a></td>


  </tr>
  {{/each}}
  </table>
  
</div> --}}